@font-face {
   font-family: 'GT-Walsheim-Condensed-Ultra-Bold-Trial-BF651b7fc70e3d4';
   font-display: swap;
   src: url('file:///C:/Users/ugwua/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-02-28_095408/fonts/GT-Walsheim-Condensed-Ultra-Bold-Trial-BF651b7fc70e3d4/font.otf');
}
